// ==========================================================================
// Theme Custom Variables
// ==========================================================================

//
// Example, Try next line!
//

// $brand-primary: blueviolet;

// Basic Colors
$black: #000;
$white: #fff;
$border: #838383;
$color: inherit;
$background: #f1f1f1;

// Anchor colors all
$anchor: $color;

// Colors for Header Mobile
$nav-icon: $black;
$bg-header-mobile: $border;
$cl-link-menu-mobile: $black;
$bd-menu-mobile: lighten( $bg-header-mobile, 10% );

// Color for All Forms
$form-color: $border;
$form-background: $white;

// Breadcrumbs
$breadcrumbs-color: $color;
$breadcrumbs-color-hover: $color;
