// ==========================================================================
// Theme Custom Variables
// ==========================================================================

//
// Example, Try next line!
//

// $brand-primary: blueviolet;

// Colors of Visual Identity
$orange: #e28c30;
$blue: #495098;
$grey: #565656;

// Basic Colors
$black: #000;
$white: #fff;
$border: #838383;
$border-light: #ddd;
$color: inherit;
$background: #f1f1f1;

// Colors for Header Mobile
$nav-icon: $blue;
$nav-icon-close: $orange;
$bg-header-mobile: $blue;
$cl-link-menu-mobile: $orange;
$bd-menu-mobile: lighten( $bg-header-mobile, 10% );

// Color for All Forms
$form-color: $border;
$form-background: $white;

// Breadcrumbs
$breadcrumbs-color: $color;
$breadcrumbs-color-hover: $color;

// Anchor colors all
$anchor: $orange;

// Buttons Colors
$btn-aeb-excerpt-color: $white;
$btn-aeb-excerpt-background: $orange;

// Color titles for Pages and Blog
$h1: $orange;
$h2: $blue;
$h3: $grey;
$h4: $blue;
$h5: $orange;
$h6: $blue;

$section-title: $blue;
// $title-meta:;

// Mixins
@mixin text-transform() {
	text-transform: uppercase;
}
