// ==========================================================================
// Theme Custom Variables
// ==========================================================================

//
// Example, Try next line!
//

// $brand-primary: blueviolet;

// Basic Colors
$black: #000;
$white: #fff;
$border: #838383;

// Colors for Header Mobile

// Color for All Forms
$form-color: $border;
$form-background: $white;
