// ==========================================================================
// Header
// ==========================================================================
#header {
	//
	// Title, description and image
	//
	.agile-engine-branding {
		margin: 20px 0 20px;

		.site-title {}
		.site-description {
			font-size: 16px;
			font-style: italic;
		}
	}

	//
	// Navbar
	//
	#main-navigation {
		margin: 20px 0;
	}
}
