
// Styles for Home Page

// Showcase / Vitrine
#showcase {
	margin-bottom: 30px;
	background: $blue;

	.cycle-slideshow {
		.slides {
			width: 100%;
		}

		.entry-content {
			padding: 30px 45px 30px 30px;

			.entry-title {
				margin-bottom: 30px;
				font-weight: 700;

				a {
					&:focus,
					&:hover {
						color: $white;
					}
				}
			}

			p {
				font-size: 18px;
				color: $white;
			}
		}

		.nav-slides {
			span {
				display: inline-block;
				margin: 0 24px 0 0;
				width: 10px;
				height: 10px;
				font-size: 0;
				background: $white;
				border-radius: 100%;
				cursor: pointer;
				@include transition(all ease-in-out .2s);

				&.cycle-pager-active {
					background: $orange;
				}
			}
		}
	}
}

// Listing Posts
.home-template {
	.odin-classes-page-sidebar {
		.entry-post {
			margin-bottom: 30px;
			padding: 30px;
			background: $white;
		}
	}
}
