
/**
 * Styles for Buttons
 **/

// Default for all Theme
@mixin btn-aeb-default() {
	.btn-aeb-default {

	}
}

.btn-aeb-excerpt {
	display: inline-block;
	padding: 10px 20px;
	font-weight: 700;
	@include text-transform();
	color: $btn-aeb-excerpt-color;
	background: $btn-aeb-excerpt-background;
	border-radius: 0;

	&:focus,
	&:hover {
		color: $btn-aeb-excerpt-color;
		background: darken( $btn-aeb-excerpt-background, 10%);
	}
}

// Social Media icons
.social-media {
	&.center {
		text-align: center;
	}

	&.right {
		float: right;
	}

	&.left {
		float: left;
	}

	.navbar-nav {
		float: none;
		display: inline-block;

		.menu-item {
			margin: 0 12px;
			float: left;

			a {
				padding: 0;
				width: 50px;
				height: 50px;
				font-size: 20px;
				line-height: 50px;
				text-align: center;
				color: $white;
				border-radius: 100%;

				&:focus,
				&:hover {
					opacity: .7;
				}
			}
		}
	}
}
