// ==========================================================================
// Footer
// ==========================================================================

//
// Sticky footer styles
//
#footer {
    padding: 100px 15px;
    width: 100%;
    background-color: $white;

    .brand-footer {
    	margin-bottom: 70px;
    }

    .footer-itens {
    	.entry-title {
    		color: $visual-identity-01;
    	}

    	p {
    		color: $grey;
    	}

    	input[type="text"],
		input[type="email"] {
			margin-top: 10px;
			margin-bottom: 20px;
		}

    	input[type="submit"] {
    		@extend .btn-aeb-excerpt;
    		float: right;
    	}

    	.agencia-agile {
    		margin: 40px 0;
    	}
    }
}
